<div class="signup-box">
  <h2 id="login-header">Sign Up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :first_name, label: false, placeholder: 'Enter first name' %>
  <%= f.input :last_name, label: false, placeholder: 'Enter last name' %>
    <%= f.input :email, label: false, placeholder: 'Enter email' %>
    <%= f.input :password, label: false, placeholder: 'Password' %>
    <%= f.input :password_confirmation, label: false, placeholder: 'Confirm password' %>
    <%= f.button :submit, "Sign Up", class: "login-button" %>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
