<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="schedule-front">
      <div class="museum-name"><%= @activity.name%></div>
      <%= render 'shared/checkered' %>
      <p class="card-text"><%=@activity.address%></p>
      <p class="card-text"><%=@activity.phone%></p>
      <p class="card-text"><%=@activity.price%></p>
      <!-- The image that we choose is named after the amount of stars the rating has -->
      <img src="/assets/yelp_stars/regular/regular_<%=@activity.rating%>.png">

    </div>
    <div class="schedule-back">
      <div class="museum-name"><%= @activity.name%></div>
            <%= render 'shared/checkered' %>

      <div class="card-images">
      <div class="venue"><img src="<%=@activity.image_url%>" alt="<%=@activity.name%> image"></div>
      <div class="yelp-link"><a href="<%=@activity.url%>" target="_blank" class="yelp-copy">View on<img src="/assets/yelp-copy.png" alt="Yelp Logo"></a></div>
      </div>
    </div>
  </div>
</div>
