<h1><%=@museums['businesses'][0]['name']%><h1>

<%= simple_form_for @activity do |f| %>
  <%= f.hidden_field :schedule_id, value: 1 %>
  <%= f.hidden_field :time_slot, value: @time_slot %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :business_identity, value: @museums['businesses'][0] %>
  <%= f.hidden_field :image_url, value: @museums['businesses'][0]['image_url'] %>
  <%= f.hidden_field :name, value: @museums['businesses'][0]['name'] %>
  <%= f.hidden_field :title, value: @museums['businesses'][0]['categories'][0]['title'] %>
  <%= f.hidden_field :rating, value: @museums['businesses'][0]['rating'] %>
  <%= f.hidden_field :url, value: @museums['businesses'][0]['url'] %>
  <%= f.hidden_field :address, value: @museums['businesses'][0]['location']['display_address'] %>
  <%= f.hidden_field :phone, value: @museums['businesses'][0]['display_phone'] %>
  <%= f.hidden_field :distance, value: @museums['businesses'][0]['distance'] %>
  <%= f.submit %>
<% end %>


<h2><%=@restaurant['businesses'][0]['name']%></h2>




  <h1><%=@museums2['businesses'][1]['name']%><h1>
    <h2><%=@restaurant2['businesses'][0]['name']%></h2>
