<div class="schedule-page">
    <div class="container-fluid">
        <div class="row">

            <div class="schedule-layout-morning col-sm-6">
                <div class="schedule-header-morning" class="card" class="card-corner" class="card-corner-triangle">Morning</div>

                <%@activity = @museum1 %>
          <%= render 'activity-cards' %>



                <div class="transit-icons">
                        Route Options

                </div>

                <%@activity = @restaurant1 %>
                <%= render 'activity-cards' %>

                <% @distance = @distance_m1r1 %>
                <% @time = @time_m1r1 %>
                <% @bike_distance = @bike_distance_m1r1 %>
                <% @bike_time = @bike_time_m1r1 %>
                <% @transit_distance = @transit_distance_m1r1 %>
                <% @estimate = @estimate_m1r1 %>
                <% @minutes = @minutes_m1r1 %>
                <%= render 'transportation' %>
            </div>

            <div class="schedule-layout-afternoon col-sm-6">
                <div class="schedule-header-afternoon">Afternoon</div>

                <%@activity = @museum2 %>
                <%= render 'activity-cards' %>

                <% @distance = @distance_r1m2 %>
                <% @time = @time_r1m2 %>
                <% @bike_distance = @bike_distance_r1m2 %>
                <% @bike_time = @bike_time_r1m2 %>
                <% @transit_distance = @transit_distance_r1m2 %>
                <% @estimate = @estimate_r1m2 %>
                <% @minutes = @minutes_r1m2 %>
                <%= render 'transportation' %>

                
                <%@activity = @restaurant2 %>
                <%= render 'activity-cards' %>
                <% @distance = @distance_m2r2 %>
                <% @time = @time_m2r2 %>
                <% @bike_distance = @bike_distance_m2r2%>
                <% @bike_time = @bike_time_m2r2 %>
                <% @transit_distance = @transit_distance_m2r2 %>
                <% @estimate = @estimate_m2r2 %>
                <% @minutes = @minutes_m2r2 %>
                <%= render 'transportation' %>
                </div>
            </div>

        </div>

    </div>
</div>
