
<div class="login-box">
<h2>Log in</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>

</div>

<%= render "devise/shared/links" %>
