<div id="carousel_<%=@carousel_id%>" class="carousel slide" data-interval=false>
  <div class="carousel-inner">
    <div class="carousel-item active">

    
 

      <div class="<%=@business_type%>-name">
        <% if @time_slot === 'Lunch'%><i class="material-icons">restaurant<span>&nbsp</span></i><% elsif @time_slot === 'Dinner' %> <i class="material-icons">local_bar<span>&nbsp</span></i> <% else %> <i class="material-icons">location_city<span>&nbsp</span></i>  <%end%> <%=@business['name']%>
      </div>
      <%=render 'checkeredboxes' %>

      <% @button_class = "#{@business_type_and_num}_carousel1" %>
      <%=render 'form' %>
      <div class="reject-button <%=@business_type_and_num%>_carousel1"><a href="#carousel_<%=@carousel_id%>" role="button" data-slide="next">Fugheddaboudit!</a></div>


    </div>
    <div class="carousel-item">
      <div class="<%=@business_type%>-name">
        <% @business = @business_array['businesses'][@random_num+1 %5] %> <%=@business['name']%>
      </div>
      <%=render 'checkeredboxes' %>

      <% @button_class = "#{@business_type_and_num}_carousel2" %>
      <%=render 'form' %>
      <div class="reject-button <%=@business_type_and_num%>_carousel2"><a href="#carousel_<%=@carousel_id%>" role="button" data-slide="next">Fugheddaboudit!</a></div>
    </div>
    <div class="carousel-item">

      <div class="<%=@business_type%>-name">
        <% @business = @business_array['businesses'][@random_num+2 %5] %> <%=@business['name']%>
      </div>
      <%=render 'checkeredboxes' %>

      <% @button_class = "#{@business_type_and_num}_carousel3" %>
      <%=render 'form' %>
      <div class="reject-button <%=@business_type_and_num%>_carousel3"><a href="#carousel_<%=@carousel_id%>" role="button" data-slide="next">Fugheddaboudit!</a></div>
    </div>
    <div class="carousel-item">

      <div class="<%=@business_type%>-name">
        <% @business = @business_array['businesses'][@random_num+3 %5] %> <%=@business['name']%>
      </div>
      <%=render 'checkeredboxes' %>

      <% @button_class = "#{@business_type_and_num}_carousel4" %>
      <%=render 'form' %>
      <div class="reject-button <%=@business_type_and_num%>_carousel4"><a href="#carousel_<%=@carousel_id%>" role="button" data-slide="next">Fugheddaboudit!</a></div>
    </div>
    <div class="carousel-item">

      <div class="<%=@business_type%>-name">
        <% @business = @business_array['businesses'][@random_num+4 %5] %> <%=@business['name']%>
      </div>
      <%=render 'checkeredboxes' %>

      <% @button_class = "#{@business_type_and_num}_carousel5" %>
      <%=render 'form' %>
      <div class="reject-button <%=@business_type_and_num%>_carousel5"><a href="#carousel_<%=@carousel_id%>" role="button" data-slide="next">Fugheddaboudit!</a></div>
    </div>
  </div>
</div>
