<div class="time-slot"><%= @time_slot %></div>

<%= simple_form_for @activity, remote:true do |f| %>
  <%= f.hidden_field :schedule_id, value: @schedule_id %>
  <%= f.hidden_field :time_slot, value: @time_slot %>
  <%= f.hidden_field :business_identity, value: @business['id'] %>
  <%= f.hidden_field :image_url, value: @business['image_url'] %>
  <%= f.hidden_field :name, value: @business['name'] %>
  <%= f.hidden_field :title, value: @business['categories'][0]['title'] %>
  <%= f.hidden_field :rating, value: @business['rating'] %>
  <%= f.hidden_field :url, value: @business['url'] %>
  <%= f.hidden_field :address, value: @business['location']['display_address'] %>
  <%= f.hidden_field :phone, value: @business['display_phone'] %>
  <%= f.hidden_field :distance, value: @business['distance'] %>
  <%= f.hidden_field :latitude, value: @business['coordinates']['latitude'] %>
  <%= f.hidden_field :longitude, value: @business['coordinates']['longitude'] %>
  <%= f.submit "Choose Activity", class: 'schedule-submit-button' %>
<% end %>
