<!DOCTYPE html>
<html>
  <head>
    <title>BigApple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Comfortaa|Karla" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <img src="images/" alt="">
  </div>
  <div class="body">
  
    <%= yield %>
  </div>
  </body>
</html>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>