<!DOCTYPE html>
<html>
  <head>
    <title>BigApple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Comfortaa|Karla" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <img id="header-image" src="images/new-york-city-skyline.png" alt="New York City Skyline">
    </div>

    <div class="taxi">
      <img src="images/taxi.png" alt="New York City Taxi">
    </div>
  
    <div class="body">
  
    <%= yield %>
    </div>
  </body>
</html>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>