<!DOCTYPE html>
<html>
  <head>
    <title>BigApple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Comfortaa|Karla" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    
      <div class="header-text">
        <div class="header-text-grey">BIG <div class="header-text-yellow">APP</div>LE</div></div>
      <img id="header-image" src="/assets/new-york-city-skyline.png" alt="New York City Skyline">
      <img src="/assets/cloud.png" class="logout-button" alt="Cloud Logout">
      </div>
      
      
    <div class="body">
    <div class="taxi">
      <img class="resize" src="/assets/taxi.png" alt="New York City Taxi">
    </div>

    

    

    <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <div class="footer-block row">
          
            <div class="social-icons"><img src="assets/twitter.png" class="icon" href="#" alt="Twitter"><img src="assets/facebook.png" class="icon" href="#" alt="Facebook"><img src="assets/instagram.png" href="#" class="icon" alt="Instagram">
              <div class="yelp">powered by <img src="assets/yelp.png" href="#" alt="Yelp Logo">
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
